<form #form="ngForm" *ngIf="!success" class="animate__animated animate__flipInX border p-4 d-flex flex-column"
      (ngSubmit)="submit()" style="min-width: 30vw">
  <h1 translate class="ms-3 me-5">heading</h1>
  <div class="input-group mb-3">
    <span class="input-group-text" id="username">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="username"
           [(ngModel)]="username" #usernameModel="ngModel" required name="username" minlength="5" maxlength="60">
    <div *ngIf="usernameModel.errors && usernameModel.touched" class="invalid-tooltip d-block">
      <p class="mb-0" *ngIf="usernameModel.errors.required" translate [translateParams]="usernameModel.errors.required">
        common.input.required</p>
      <p class="mb-0" *ngIf="usernameModel.errors.minlength" translate
         [translateParams]="usernameModel.errors.minlength">common.input.minlength</p>
      <p class="mb-0" *ngIf="usernameModel.errors.maxlength" translate
         [translateParams]="usernameModel.errors.maxlength">common.input.maxlength</p>
    </div>
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary align-self-end">Submit</button>
</form>
<span *ngIf="success"
      class="h2 animate__animated animate__rubberBand" [innerHTML]="'success' | translate:{username: username}"></span>
